body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav ul li {
    margin: 0 1rem;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
}

.section {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}

#login{
    margin-bottom: 80px;
}
#docenten{
    justify-content: space-evenly;
    display: flex;
}

.images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}
.images img {
    width: 100%;
    height: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}